<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="app.py" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\python.exe|D:\home\site\wwwroot\app.py" resourceType="Unspecified"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="StaticFiles" stopProcessing="true">
          <action type="None" />
        </rule>
        <rule name="DynamicRule" stopProcessing="true">
          <conditions logicalGrouping="MatchAll" />
          <action type="Rewrite" url="app.py" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
